/* think about system how do you want to create class names: where they are in html code, what they do... */
body {
  text-align: center;
}
footer {
  text-align: left;
}
.grid-box {
  align-items: center;
  background-color: blue;  /* think which color choose */
  color: white; /* think which color choose */
  display: flex;
  font-size: 40px;
  height: 50px;
  justify-content: center;
  margin-right: 3px;
  width: 50px; 
}
.grid-row {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}
