body {
  text-align: center;
  background-color: #558f8e;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
button{
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  height:70px;
  margin-right: 5px;
  width:145px;
}
button:hover{
  background-color: rgb(187, 208, 221);
  color:blue;
}
footer {
  text-align: left;
  margin-top: 40px;
}
.grid-box {
  align-items: center;
  background-color: #00ff53;  
  color: white; 
  display: flex;
  font-size: 40px;
  height: 40px;
  justify-content: center;
  margin-right: 3px;
  width: 40px; 
}
.grid-box:hover {
  background-color: #87cd9e; 
}
.grid-row {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}
h1{
  font-size: 40px;
  margin:8px;
}
.info-and-buttons{
  display: flex;
  flex-direction: column;
}
.information-for-player{
  font-size: 25px;
}
menu{
  padding: 0;
  display: flex;
  justify-content: center;
}
menu, p{
  margin:5px;
}

