/* class names: word-word-word (NOT CAMEL CASE) */
/* think about system how do you want to create class names: where they are in html code, what they do... */
body{
    background-color: white;
}
.col{
    background-color: blue;
    color: white;
    height: 60px;
}
h1, footer, p{
    padding: 0;
}

.test{
    background-color: red;
    width: 100px;
    height: 100px;
    padding: 30px;
    margin: 30px;
    color:white;
}